<div>
  <mat-card *ngIf="course">
    <mat-card-title>
      <mat-form-field class="full-width">
        <input matInput placeholder="Kursname" [formControl]="courseFormControl"
        [errorStateMatcher]="courseTitleMatcher" [(ngModel)]="course.name" (change)="onUpdateCourseName($event)">
        <mat-error *ngIf="courseFormControl.hasError('required')">
            Ein Kursname wird <strong>benötigt</strong>.
          </mat-error>
      </mat-form-field>
    </mat-card-title>
    <mat-card>
      <mat-card-title>
          Liste aller Nutzer in diesem Kurs
          <button mat-raised-button (click)="onAddUserToCourse()">Nutzer hinzufügen</button>
      </mat-card-title>
      <mat-card-content>
        <label *ngFor="let user of course.users; index as userIndex">
          <button mat-button (click)="onRemoveUser(userIndex)">{{ user }}
            <mat-icon>close</mat-icon>
          </button>
        </label>
      </mat-card-content>
    </mat-card>
    <mat-card-content>
      <mat-card *ngFor="let topic of course.topics; index as topicIndex">
        <mat-card-title>
          <mat-form-field class="full-width">
            <input matInput placeholder="Titel" [formControl]="topicFormControl"
            [errorStateMatcher]="topicMatcher" [(ngModel)]="topic.name"
                   (change)="onUpdateTopicTitle($event, topicIndex)">
                   <mat-error *ngIf="topicFormControl.hasError('required')">
                      Ein Titel für das Thema wird <strong>benötigt</strong>.
                    </mat-error>
          </mat-form-field>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Beschreibung" [(ngModel)]="topic.description"
                      (change)="onUpdateTopicDescription($event, topicIndex)" matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="10"></textarea>
          </mat-form-field>
          <mat-list>
            <mat-list-item *ngFor="let file of topic.files; index as fileIndex">
              <button mat-button (click)="onDeleteFile(topicIndex, fileIndex)">{{ file.name }}
                <mat-icon>close</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <button mat-raised-button (click)="onUploadFile($event, topicIndex)">
            <mat-icon>file_upload</mat-icon>
            Datei hochladen
          </button>
        </mat-card-content>
        <div style="height: 56px">
          <button mat-fab style="left: 100%; position: sticky;" (click)="onDeleteTopic(topicIndex)">
            <mat-icon>delete circle</mat-icon>
          </button>
        </div>
      </mat-card>
      <mat-list>
        <mat-list-item *ngFor="let quiz of course.quizs; index as quizIndex">
          <button mat-button (click)="onDeleteQuiz(quizIndex)">{{ quiz.name }}
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>


<span class="done">
  <ng2-float-btn [mainButton]="mainButton" [buttons]="buttons" [isMini]="true" [direction]="'up'"></ng2-float-btn>
</span>
