body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.toolbar {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.outlet {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  margin-top: 64px;
  overflow-y: auto;
  height: calc(100% - 64px);
}
