<div>
  <mat-card *ngIf="quiz">
    <mat-card-title>{{quiz.name}}</mat-card-title>
    <mat-card-content>
      <mat-card *ngFor="let question of quiz.questions; index as questionIndex">
        <mat-card-title>{{question.question}}</mat-card-title>
        <mat-card-content>
          <mat-radio-group class="answer" *ngIf="question.answers.length > 1">
            <mat-radio-button class="answer-button" *ngFor="let answer of question.answers; index as answerIndex"
                              value="{{answer}}" (change)="onUpdateCheckedSingeAnswer(questionIndex, answerIndex)">
              {{answer}}
            </mat-radio-button>
          </mat-radio-group>
          <span class="answer" *ngIf="question.answers.length === 1">
            <mat-checkbox class="answer-button" *ngFor="let answer of question.answers; index as answerIndex"
                          value="{{answer}}" (change)="onUpdateCheckedMultipleAnswers(questionIndex, answerIndex)">
              {{answer}}
            </mat-checkbox>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<span class="done" (click)="sendResults()">
  <button mat-fab>
    <i class="fa fa-paper-plane fa-2x" style="margin-top: -5px; margin-right: 5px;" aria-hidden="true"></i>
  </button>
</span>
