<h1 matDialogTitle>Erstellen Sie einen neuen Test</h1>

<mat-dialog-content>
  <mat-card>
    <mat-card-title>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name des Tests" [formControl]="quiznameFormControl"
               [errorStateMatcher]="quiznameMatcher" value="{{quiz.name}}" (change)="onUpdateQuizTitle($event)">
      </mat-form-field>
    </mat-card-title>

    <mat-card-content>

      <mat-form-field style="width: 49.5%">
        <mat-placeholder>Sichtbar von</mat-placeholder>
        <mat-datetimepicker-toggle [for]="startDate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #startDate type="datetime" openOnFocus="true" timeInterval="1"></mat-datetimepicker>
        <input matInput [matDatepickerFilter]="notBeforeToday" [(ngModel)]="quiz.visibilityStartDate" 
        [matDatetimepicker]="startDate" (dateChange)="onUpdateVisibilityStartDate($event)" autocomplete="false" readonly>
      </mat-form-field>

      <mat-form-field style="width: 49.5%">
        <mat-placeholder>Sichtbar bis</mat-placeholder>
        <mat-datetimepicker-toggle [for]="endDate" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker #endDate type="datetime" openOnFocus="true" timeInterval="1"></mat-datetimepicker>
        <input matInput [matDatepickerFilter]="notBeforeStartDate" [(ngModel)]="quiz.visibilityEndDate" 
        [matDatetimepicker]="endDate" (dateChange)="onUpdateVisibilityEndDate($event)" autocomplete="false" readonly>
      </mat-form-field>

    </mat-card-content>


    <mat-card *ngFor="let question of quiz.questions; index as questionIndex">
      <mat-card-title>
        <mat-form-field class="full-width">
          <input matInput placeholder="Frage" value="{{question.questionText}}"
                 (change)="onUpdateQuestion($event, questionIndex)">
        </mat-form-field>
      </mat-card-title>
      <mat-card-content>
        <span *ngFor="let answer of question.possibleAnwsers; index as answerIndex">
          <mat-checkbox (change)="onUpdateChecked($event, questionIndex, answerIndex)">
            <mat-form-field>
              <input class="answerText" matInput placeholder="Antwort" value="{{answer}}"
                     (change)="onUpdateAnswer($event, questionIndex, answerIndex)">
            </mat-form-field>
          </mat-checkbox>
        </span>
      </mat-card-content>
      <span class="done" (click)="deleteQuestion(questionIndex)">
            <button mat-fab>
              <mat-icon>delete circle</mat-icon>
            </button>
          </span>
    </mat-card>

    <span class="done" (click)="addQuestion()">
        <button mat-fab>
          <mat-icon>add circle</mat-icon>
        </button>
      </span>

  </mat-card>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()"
          [disabled]="isTestValid()">
    Test speichern
  </button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button color="warn" [mat-dialog-close]="true">Abbrechen</button>
</mat-dialog-actions>

